<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/imgs/America.ICO" type="image/x-icon" />
    <title>Sistema Ventas - Reghisbot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- PRECARGA  -->
    <div id="preloader">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img src='@Url.Content("~/imgs/favicon-32x32.png")' height="40" width="40" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Nosotros", "Index", "Home")</li>
                    <li>@Html.ActionLink("Servicios", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("ListaproductosXapi", "ListaProductosAPI", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Para Secciones
                            <b class="caret">
                            </b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Seccion Racer", "RacerHoodie", "Home")</li>
                            <li>@Html.ActionLink("Seccion Explorer", "ExplorerHoodie", "Home")</li>
                            <li>@Html.ActionLink("Seccion Fisherman", "FishermanTS", "Home")</li>
                            <li>@Html.ActionLink("Seccion MontainWare", "MontainWare", "Home")</li>
                            <li>@Html.ActionLink("Seccion Productos", "Index", "TPRODUCTOS")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Hecho por www.reghisbot.com.ar</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
@*<script type="text/javascript">
    $(window).on("load", function () {
        $(".spinner").fadeOut();
        $("#preloader").delay(350).fadeOut("slow");
        $("body").delay(350).css({ overflowY: "visible" });
    });
</script>*@

<!-- PRE CSS -->
@*<style type="text/css">
    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 499;
    }

    .spinner {
        -webkit-animation: rotator 1.4s linear infinite;
        animation: rotator 1.4s linear infinite;
        left: 50%;
        top: 50%;
        position: absolute;
        margin-left: -32.5px;
        margin-top: -32.5px;
    }

    .-webkit-keyframes rotator {
        0%

    {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    }

    .keyframes rotator {
        0%

    {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    }

    .path {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        stroke: #FF6859;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-animation: dash 1.4s ease-in-out infinite;
        animation: dash 1.4s ease-in-out infinite;
    }


    .-webkit-keyframes dash {
        0%

    {
        stroke-dashoffset: 187
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }

    }

    .keyframes dash {
        0%

    {
        stroke-dashoffset: 187
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg)
    }
    }
</style>*@